.cardtwofour{
  border: 1px solid transparent;
  width: 1200px;
  height: 300px;
  position: relative;
  top: 160px;
}

.cardtwofour h1{
    font-size: 21px;
}

.car{
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    height: 270px;
    gap: 10px;
    position: relative;
    top: 20px;
}

.box{
    border: 1px solid transparent;
    width: 300px;
    height: 270px;
    display: flex;
    align-items: flex-start; 
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.box h1{
    font-size: 20px;
    position: relative;
    align-self: flex-start; 
}

.box img{
    object-fit: cover;
    border-radius: 12px;
    position: relative;
}

.box p{
    position: relative;
    right: 0; 
}

.box h2{
    font-size: 17px;
    position: relative;
    top: 10px;
    left: 0;
}

.box a{
    color: #0b0199;
    font-size: 15px;
}